.baseText{
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-weight: 600;
  font-size: clamp(1.2em, 1vw, 1.8em);
  
  letter-spacing: 0.06em;
  color: #c9ffd1;
  text-shadow: 0 0 2px #6aff86, 0 0 8px rgba(106, 255, 134, .35);
}

.typed-cursor {
  display: inline;
  color: #c9ffd1;
}

#hud {
  position: fixed;
  inset: 0;
  z-index: 1;
}

.introScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  color: white;
  opacity: 1;
  z-index: 3;
}

.introScreen-off {
  opacity: 1;
}

.text-off {
  animation-name: tv-off;
  animation-duration: 1200ms;
  animation-timing-function: step-start;
  animation-fill-mode: both;
}

@keyframes tv-off {
  0%   { opacity: 0; }
  10%   { opacity: 1; }
  15%   { opacity: 0; }
  25%  { opacity: 1; }
  60%  { opacity: 0; }
  70%  { opacity: 1; }
  80%  { opacity: 0; }
  85%  { opacity: 1; }
  90%  { opacity: 0; }
  95%  { opacity: 1; }
  100% { opacity: 0; }
}

.tv-flash {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  display: block;
  transform: scaleX(0) scaleY(0);
  pointer-events: none;
}

.tv-flash-on {
  animation-name: tv-flash-on;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes tv-flash-on {
  0%   { opacity: 1; transform: scaleX(0) scaleY(0); }

  50%  { opacity: 1; transform: scaleX(1) scaleY(0.01); }

  100%  { transform: scaleX(1) scaleY(1); }
}

#global-effect {
  position: fixed;
  /* inset: 0; */
  width: 100vw;
  height: 100vh;
  overflow: none;
  perspective: 1800px;
  transform: rotateX(2deg) rotateY(2deg);
  transform-origin: 50% 50%;
  filter: url(#warp);
}

/* An overlay that emulates pixelated rows, like old TVs */
.pixel-rows {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 10;
  background: repeating-linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 1) 2px,
    rgba(0, 0, 0, 1) 2px,
    rgba(0, 0, 0, 0) 4px
  );
  opacity: .70;
}

/* Animated element that emulates light flickering and scanlines */
.scanline-overlay {
  position: absolute;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  z-index: 9;
  transform: scaleY(2) rotateZ(20deg);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, .1) 32%,
    rgba(0, 0, 0, .1) 68%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: scan-pass 6s linear infinite;
  animation-fill-mode: both;
}

@keyframes scan-pass {
  0%    { transform: translateX(-110vw) scaleY(2) rotateZ(20deg) }
  15%   { transform: translateX(110vw) scaleY(2) rotateZ(20deg) }
  100%  { transform: translateX(115vw) scaleY(2) rotateZ(20deg) }
}

.vignette {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 13;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 5%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0.2) 95%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

@media (prefers-reduced-motion: reduce) {
  .scanline { animation: none; }
}

.frame-corner {
  width: 100%;
  height: 100%;
  background-color: #c9ffd1;
  mask: url('/frame_corner.png') center / cover;
  mask-size: 100% 100%;
  pointer-events: none;
}

.frame-container {
  --cellSize: 6vh;
  --gapX: 93vw;
  --gapY: 86vh;

  position: fixed;
  width: calc(2 * var(--cellSize) + var(--gapX));
  height: calc(2 * var(--cellSize) + var(--gapY));
  top: 50%;
  left: 50%;

  display: grid;
  grid-template-columns: var(--cellSize) var(--cellSize);
  grid-template-rows: var(--cellSize) var(--cellSize);
  column-gap: var(--gapX);
  row-gap: var(--gapY);
  place-items: start;
  transform: translateX(-50%) translateY(-50%);

  transition-duration: 250ms;
}

:root {
  --contentWidth: 0vw;
}

.description-container {
  position: absolute;
  width: var(--contentWidth);
  height: 70vh;
  top: -20px;
  right: calc(-1.1 * var(--contentWidth));
  display: flex; 
  flex-direction: column;
  transition-duration: 250ms;
  overflow-x: hidden;
}

.dropdown-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0px;
  top: 0px;
  width: 30vw;
  height: auto;
  margin-left: 10px;
}

.dropdown-content {
  position: relative;
  height: 0vh;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: auto;
  scrollbar-color: #c9ffd1 rgba(0,0,0,0) ;
  border: solid #c9ffd1 2px;
}

.descHeader {
  height: fit-content;
  min-height: 50px ;
  width: 100%;
  border-bottom: 2px solid #c9ffd1;
  margin-bottom: 10px;
  font-size: clamp(26px, 1.5vw, 3.5vw);
  align-content: end;
}

.descContent {
  background-color: #131313;
  height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: auto;
  scrollbar-color: #c9ffd1 rgba(0,0,0,0) ;
  border: solid #c9ffd1 2px;
  padding: 25px;
  box-sizing: border-box;
}

.observed-list-container {
  position: fixed;
  display: flex;
  direction: row;
  align-items: end;
  bottom: 0px;
  left: 0px;
  width: fit-content;
  /* min-width: 135px; */
  height: auto;
}

.observed-item {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  font-size: clamp(1em, 1.5vw, 3em);
  border-width: 4px;
  border-color: #c9ffd156;
  background-clip: padding-box;
  margin: 5px;
}

.observed-item:hover {
  border-color: #c9ffd1;
}

.observed-item:focus:hover {
  border-color: #c9ffd1;
}

.observed-item:focus {
  background-color: #c9ffd1;
  color: black;
  border-color: rgba(0, 0, 0, 0);
}

.sub-container {
  border-left: solid 2px #c9ffd1;
  border-top: solid 2px #c9ffd1;
}

.button-list {
  position: relative;
  display: flex;
  flex-direction: column;
}

.selected-button {
  background-color: #c9ffd1;
  color: black;
  border-color: rgba(0, 0, 0, 0);
}

a {
  color: lightblue;
}
a:visited {
  color:lightcoral
}
