.swiper {
  height: 100%;
  width: 100%;
  min-width: 0;
  background-color: rgb(10, 10, 10);
  --swiper-navigation-color: #c9ffd1;
  box-sizing: border-box;
  border-left: solid 2px #c9ffd1;
}

#tlm-gallery-container {
  min-width: 0;
  height: 100%;
  box-sizing: border-box;
}

.swiper-pagination-fraction {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-weight: 600;
  font-size: clamp(1.2em, 1vw, 1.8em);
  letter-spacing: 0.06em;
  color: #c9ffd1;
  text-shadow: 0 0 2px #6aff86, 0 0 8px rgba(106, 255, 134, .35);
  --swiper-pagination-fraction-color: #c9ffd1;
}

#content-parent {
  min-width: 0;
  min-height: 0;
  height: 80vh;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 100%;
  gap: 1rem; 
  align-items: stretch;
}

.swiper-slide {
  background: rgb(10, 10, 10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-image {
  max-width: 100%;          /* Don’t exceed container width */
  max-height: 100%;         /* Don’t exceed container height */
  width: auto;              /* Let browser calculate width */
  height: auto;             /* Let browser calculate height */
  display: block;           /* Removes extra space under images */
  margin: auto;             /* Ensure it stays centered */
}

.tlm-default {
  z-index: 2; 
  position: fixed; 
  inset: 0; 
  background-color: #c9ffd1;
  min-width: none;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  opacity: 1;
  pointer-events: auto;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

#tlm-navigation-container {
  background-color: rgb(10,10,10); 
  width: fit-content; 
  height: 100%;
  display: flex;
  flex-direction: column;
  border-right: solid #c9ffd1 2px;
  padding: 0px 10px 10px 10px;
  box-sizing: border-box;
}

#tlm-selected-content-container {
  background-color: rgb(10, 10, 10); 
  width: 100%; 
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-width: 0;
}

.branch-body {
  display: flex;
  flex-direction: row;;
  align-items: start;
  justify-content: start;
  height: fit-content;
  width: fit-content;
  padding-left: 25px;
  box-sizing: border-box;
}

.baseText{
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  font-weight: 600;
  font-size: clamp(1.2em, 1vw, 1.8em);
  
  letter-spacing: 0.06em;
  color: #c9ffd1;
  text-shadow: 0 0 2px #6aff86, 0 0 8px rgba(106, 255, 134, .35);
}


.exit-button {
  color: #ff8484;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  font-size: clamp(1em, 1.5vw, 3em);
  border-width: 4px;
  border-color: #ff848456;
  background-clip: padding-box;
  margin: 5px;
}

.exit-button:hover {
  border-color: #ff8484;
}

.typed-cursor {
  display: inline;
  color: #c9ffd1;
}

#hud {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.introScreen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  color: white;
  opacity: 1;
  z-index: 3;
}

.introScreen-off {
  opacity: 1;
}

.text-off {
  animation-name: tv-off;
  animation-duration: 1200ms;
  animation-timing-function: step-start;
  animation-fill-mode: both;
}

@keyframes tv-off {
  0%   { opacity: 0; }
  10%   { opacity: 1; }
  15%   { opacity: 0; }
  25%  { opacity: 1; }
  60%  { opacity: 0; }
  70%  { opacity: 1; }
  80%  { opacity: 0; }
  85%  { opacity: 1; }
  90%  { opacity: 0; }
  95%  { opacity: 1; }
  100% { opacity: 0; }
}

.tv-flash {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  display: block;
  transform: scaleX(0) scaleY(0);
  pointer-events: none;
}

.tv-flash-on {
  animation-name: tv-flash-on;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes tv-flash-on {
  0%   { opacity: 1; transform: scaleX(0) scaleY(0); }

  50%  { opacity: 1; transform: scaleX(1) scaleY(0.01); }

  100%  { transform: scaleX(1) scaleY(1); }
}

#global-effect {
  position: fixed;
  pointer-events: none;
  /* inset: 0; */
  width: 100vw;
  height: 100vh;
  overflow: none;
  perspective: 1800px;
  transform: rotateX(2deg) rotateY(2deg);
  transform-origin: 50% 50%;
  filter: url(#warp);
}

/* An overlay that emulates pixelated rows, like old TVs */
.pixel-rows {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 10;
  background: repeating-linear-gradient(
    to bottom, 
    rgba(0, 0, 0, 0) 0px,
    rgba(0, 0, 0, 1) 2px,
    rgba(0, 0, 0, 1) 2px,
    rgba(0, 0, 0, 0) 4px
  );
  opacity: .70;
}

/* Animated element that emulates light flickering and scanlines */
.scanline-overlay {
  position: absolute;
  width: 100vw;
  height: 200vh;
  pointer-events: none;
  z-index: 9;
  transform: scaleY(2) rotateZ(20deg);
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, .1) 32%,
    rgba(0, 0, 0, .1) 68%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 100%
  );
  animation: scan-pass 6s linear infinite;
  animation-fill-mode: both;
}

@keyframes scan-pass {
  0%    { transform: translateX(-110vw) scaleY(2) rotateZ(20deg) }
  15%   { transform: translateX(110vw) scaleY(2) rotateZ(20deg) }
  100%  { transform: translateX(115vw) scaleY(2) rotateZ(20deg) }
}

.vignette {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 13;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.2) 5%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 90%,
    rgba(0, 0, 0, 0.2) 95%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

@media (prefers-reduced-motion: reduce) {
  .scanline { animation: none; }
}

.frame-corner {
  width: 100%;
  height: 100%;
  background-color: #c9ffd1;
  mask: url('/frame_corner.png') center / cover;
  mask-size: 100% 100%;
  pointer-events: none;
}

.frame-container {
  --cellSize: 6vh;
  --gapX: 93vw;
  --gapY: 86vh;

  position: fixed;
  width: calc(2 * var(--cellSize) + var(--gapX));
  height: calc(2 * var(--cellSize) + var(--gapY));
  top: 50%;
  left: 50%;

  display: grid;
  grid-template-columns: var(--cellSize) var(--cellSize);
  grid-template-rows: var(--cellSize) var(--cellSize);
  column-gap: var(--gapX);
  row-gap: var(--gapY);
  place-items: start;
  transform: translateX(-50%) translateY(-50%);
  transition-duration: 250ms;
}

:root {
  --contentWidth: 0vw;
}

#description-toggle-button {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  top: 10px;
  right: 10px;
  background-color: rgb(5,5,5, 0.2);
}

.description-container {
  position: absolute;
  width: var(--contentWidth);
  height: 30vh;
  top: -20px;
  right: calc(-1.1 * var(--contentWidth));
  display: flex; 
  flex-direction: column;
  transition-duration: 250ms;
  overflow-x: hidden;
}

.dropdown-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  left: 0px;
  top: 0px;
  width: 30vw;
  height: auto;
  margin-left: 10px;
  pointer-events: auto;
}

.dropdown-content {
  position: relative;
  height: 0px;
  width: 100%;
  display: flex;
  background-color: rgba(10,10,10,0.6);
  flex-direction: column;
  overflow: hidden;
  scrollbar-width: auto;
  scrollbar-color: #c9ffd1 rgba(0,0,0,0) ;
  border: solid #c9ffd1 2px;
}

.dropdown-content-closed {
  border-color: transparent;
  background-color: transparent;
}

.orbit-control-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 10px;
  border-left: solid 2px #c9ffd1;
  padding-left: 5px;
}

.orbit-control-slider-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.orbit-control-slider {
  width: 60%;
}

.orbit-control-slider-label {
  width: 25px;
}

.orbit-control-slider-value {
  margin-left: auto;
  width: 15%;
  border: solid 2px #c9ffd1;
  padding: 5px;
  /* flex-grow: 1; */
  /* text-align: end; */
  /* align-self: end; */
}

.descHeader {
  height: fit-content;
  min-height: 50px ;
  width: 30vw;
  border-bottom: 2px solid #c9ffd1;
  margin-bottom: 10px;
  font-size: clamp(26px, 1.5vw, 3.5vw);
  align-content: end;
}

.descContent {
  background-color: rgba(10,10,10, 0.6);
  height: 50vh;
  width: 30vw;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: auto;
  scrollbar-width: auto;
  scrollbar-color: #c9ffd1 rgba(0,0,0,0) ;
  border: solid #c9ffd1 2px;
  padding: 25px;
  box-sizing: border-box;
}

.observed-list-container {
  position: fixed;
  pointer-events: auto;
  display: flex;
  direction: row;
  align-items: end;
  bottom: 0px;
  left: 0px;
  width: fit-content;
  /* min-width: 135px; */
  height: auto;
}

.observed-item {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;
  font-size: clamp(1em, 1.5vw, 3em);
  border-width: 4px;
  border-color: #c9ffd156;
  background-clip: padding-box;
  margin: 5px;
  pointer-events: auto;
}

.observed-item:hover {
  border-color: #c9ffd1;
}

.observed-item:focus:hover {
  border-color: #c9ffd1;
}

.observed-item:focus {
  background-color: #c9ffd1;
  color: black;
  border-color: rgba(0, 0, 0, 0);
}

.observed-item:disabled { 
  color: rgb(138, 138, 138);
  border-color: rgb(136, 136, 136);
  text-shadow: 0 0 2px #585858, 0 0 8px rgba(106, 255, 134, .35);

}

.sub-container {
  border-left: solid 2px #c9ffd1;
  border-top: solid 2px #c9ffd1;
}

.button-list {
  position: relative;
  display: flex;
  flex-direction: column;
}

.selected-button {
  background-color: #c9ffd1;
  color: black;
  border-color: rgba(0, 0, 0, 0);
}

a {
  color: lightblue;
}
a:visited {
  color:lightcoral
}
